<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blainder | A Blaine Talking Experience</title>
        {% load static %}
        <link href="{% static "frontpage/css/style.css" %}" rel="stylesheet" type="text/css" />
    </head>

<body> 
<!-- The script below allows the continue with facebook button.  -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '358668435177447',
      cookie     : true,
      xfbml      : true,
      version    : 'v8.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  FB.getLoginStatus(function(response) {
     statusChangeCallback(response);
   });
</script>

    <h1> Blainder </h1>
    <p>A Blaine Talking Experience</p>
    <div id="container">
        <div class="polaroid-frame">
            <p>Click one of the heart buttons to Start</p>
        </div>
    </div>

    <div id="buttons">
        <button type="button" id="dislike">💔</button>
        <button type="button" id="like">💚</button>
    </div>

    <script src="{% static "frontpage/js/script.js" %}"></script>
</body>
</html>
