<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blainder | A Blaine Talking Experience</title>
    </head>

<body> 
<!-- The script below allows the continue with facebook button.  -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '358668435177447',
      cookie     : true,
      xfbml      : true,
      version    : 'v8.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});
</script>

    <h1> Blainder </h1>
    <p>A Blaine Talking Experience</p>
    {% load static %}
    <img src="{% static "frontpage/img/103748070_3202483313107175_7903101331229398658_o.jpg" %}"
    alt="Unicycle Blaine">
    </body>
</html>
